<div id="profile-container">
    <div class="breadcrumbs">
        <{foreach item=itm from=$xoBreadcrumbs name=bcloop}>
            <span class="item">
                <{if $itm.link}>
                    <a href="<{$itm.link}>" title="<{$itm.title}>"><{$itm.title}></a>
                <{else}>
                    <{$itm.title}>
                <{/if}>
            </span>        
            <{if !$smarty.foreach.bcloop.last}>
                <span class="delimiter">&raquo;</span>
            <{/if}>
        <{/foreach}>
    </div>
    <br style="clear: both;" />
    <div id="profile-tabs-container">
    <div id="profile-nav-bar">
        <{if $isOwner}>      
            <ul class="profile-tabs-nav">   
                <li <{if $section_name==$smarty.const._PROFILE_MA_USERINFO}>class="profile-tabs-selected" <{/if}>><a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/userinfo.php?uid=<{$uid}>"> <span><img class="profile-nav-bar-icon" src="images/user.gif" /> <{$smarty.const._PROFILE_MA_USERINFO}></span></a> </li>      
                <li><a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/user.php?op=logout"> <span><img class="profile-nav-bar-icon" src="images/logout.png" /> <{$smarty.const._US_LOGOUT}></span></a> </li>
                <{ if $allow_messages }> 
                    <li <{if $section_name==$smarty.const._US_INBOX}>class="profile-tabs-selected" <{/if}>><a href="<{$xoops_url}>/viewpmsg.php"> <span><img class="profile-nav-bar-icon" src="images/pn.gif" /> <{$smarty.const._US_INBOX}></span></a> </li>
                <{/if}>
                <li <{if $section_name==$smarty.const._SEARCH}>class="profile-tabs-selected" <{/if}>> <a href="search.php"><span><img class="profile-nav-bar-icon" src="images/search.gif" /> <{$smarty.const._SEARCH}></span></a></li>
                <li <{if $section_name==$smarty.const._PROFILE_MA_CONFIGS}>class="profile-tabs-selected" <{/if}>> <a href="configs.php"><span><img class="profile-nav-bar-icon" src="images/configs.gif" /> <{$smarty.const._PROFILE_MA_CONFIGS}></span></a></li>
                <{if $user_candelete == true}>
                    <li><a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/user.php?op=delete"> <span><img class="profile-nav-bar-icon" src="images/dele.gif" /> <{$smarty.const._US_DELACCOUNT}></span></a> </li>
                <{/if}>
            </ul>
        <{elseif $xoops_isadmin != false}>
            <ul class="profile-tabs-nav"> 
                <li <{if $section_name==$smarty.const._PROFILE_MA_USERINFO}>class="profile-tabs-selected" <{/if}>><a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/userinfo.php?uid=<{$uid}>"> <span><img class="profile-nav-bar-icon" src="images/user.gif" /> <{$smarty.const._PROFILE_MA_USERINFO}></span></a> </li>
                <li <{if $section_name==$smarty.const._US_EDITPROFILE}>class="profile-tabs-selected" <{/if}>><a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/admin/user.php?op=edit&amp;id=<{$uid}>"> <span><img class="profile-nav-bar-icon" src="images/user.gif" /> <{$smarty.const._US_EDITPROFILE}></span></a> </li>
                <{if $userlevel == 1}>
                    <li><a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/admin/deactivate.php?uid=<{$uid}>&amp;level=0"> <span><img class="profile-nav-bar-icon" src="images/unlock.gif" /> <{$smarty.const._PROFILE_MA_DEACTIVATE}></span></a> </li>
                <{else}> 
                    <li><a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/admin/deactivate.php?uid=<{$uid}>&amp;level=1"> <span><img class="profile-nav-bar-icon" src="images/lock.gif" /> <{$smarty.const._PROFILE_MA_ACTIVATE}></span></a> </li>
                <{/if}> 
                <li <{if $section_name==$smarty.const._PROFILE_MA_USERCHECK}>class="profile-tabs-selected" <{/if}>><a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/checker.php?uid=<{$uid}>"> <span><img class="profile-nav-bar-icon" src="images/user.gif" /> <{$smarty.const._PROFILE_MA_USERCHECK}></span></a> </li>
            </ul>
        <{else}>
            <ul class="profile-tabs-nav"> 
                <li <{if $section_name==$smarty.const._PROFILE_MA_USERINFO}>class="profile-tabs-selected" <{/if}>><a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/userinfo.php?uid=<{$uid}>"> <span><img class="profile-nav-bar-icon" src="images/user.gif" /> <{$smarty.const._PROFILE_MA_USERINFO}></span></a> </li>    
            </ul>
        <{/if}>
    </div>
    <div style="clear: both;"></div>
    <div id="profile-nav-bar">
        <ul class="profile-tabs-nav"> 
            <{ if $allow_facebook }> 
                <li <{if $section_name==$smarty.const._PROFILE_MA_FACEBOOK}>class="profile-tabs-selected" <{/if}>><a href="facebook.php"><span><img class="profile-nav-bar-icon" src="images/scrapbook.gif"  /> <{$smarty.const._PROFILE_MA_FACEBOOK}></span></a> </li>
            <{/if}>
            <{ if $allow_scraps }> 
                <li <{if $section_name==$smarty.const._PROFILE_MA_SCRAPBOOK}>class="profile-tabs-selected" <{/if}>><a href="scrapbook.php?uid=<{$uid}>"><span><img class="profile-nav-bar-icon" src="images/scrapbook.gif"  /> <{$smarty.const._PROFILE_MA_SCRAPBOOK}> <{if $scraps_count}> <small>(<{$scraps_count}>)</small><{/if}></span></a> </li>
            <{/if}>
            <{ if $allow_pictures }> 
                <li <{if $section_name==$smarty.const._PROFILE_MA_PHOTOS}>class="profile-tabs-selected" <{/if}>><a href="pictures.php?uid=<{$uid}>"><span><img class="profile-nav-bar-icon" src="images/pictures.gif"  /> <{$smarty.const._PROFILE_MA_PHOTOS}> <{if $pictures_count}> <small>(<{$pictures_count}>)</small><{/if}></span></a> </li>
            <{/if}>
            <{ if $allow_videos }> 
                <li <{if $section_name==$smarty.const._PROFILE_MA_VIDEOS}>class="profile-tabs-selected" <{/if}>><a href="videos.php?uid=<{$uid}>"><span><img class="profile-nav-bar-icon" src="images/video.gif"  /> <{$smarty.const._PROFILE_MA_VIDEOS}> <{if $videos_count}> <small>(<{$videos_count}>)</small><{/if}></span></a> </li>
            <{/if}>
            <{ if $allow_audios }> 
                <li <{if $section_name==$smarty.const._PROFILE_MA_AUDIOS}>class="profile-tabs-selected" <{/if}>><a href="audio.php?uid=<{$uid}>"><span><img class="profile-nav-bar-icon" src="images/audio.gif"  /> <{$smarty.const._PROFILE_MA_AUDIOS}> <{if $audios_count}> <small>(<{$audios_count}>)</small><{/if}></span></a> </li>
            <{/if}>
            <{ if $allow_tribes }> 
                <li <{if $section_name==$smarty.const._PROFILE_MA_TRIBES}>class="profile-tabs-selected" <{/if}>><a href="tribes.php?uid=<{$uid}>"><span><img class="profile-nav-bar-icon" src="images/groups.gif"  /> <{$smarty.const._PROFILE_MA_TRIBES}></span></a> </li>
            <{/if}>
            <{ if $allow_friends }> 
                <li <{if $section_name==$smarty.const._PROFILE_MA_FRIENDS}>class="profile-tabs-selected" <{/if}>><a href="friends.php?uid=<{$uid}>"><span><img class="profile-nav-bar-icon" src="images/friends.gif"  /> <{$smarty.const._PROFILE_MA_FRIENDS}><{if $friends_count}> <small>(<{$friends_count}>)</small><{/if}></span></a> </li>
            <{/if}>
        </ul>
    </div>
    </div>
    <br style="clear: both;" />
    
    <{ if $lang_addfriends }> 
        <div class="profile_friends"><{ $lang_addfriends }></div>
    <{ /if }> 
    <div style="clear: both;"></div>