<div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div>
<script type= "text/javascript"> 
<!-- 
jQuery.noConflict();
//--> 
</script>
<{includeq file="db:profile_breadcrumbs.html"}>
<{if $social_isactivte}>
<div class="profile-profile-group1">
<{else}>
<div class="profile-profile-group3">
<{/if}>
    <div class="profile-visual odd">
        <div class="profile-title head">
            <{$smarty.const._PROFILE_MA_USERINFO}> :: <{$uname}>
        </div>
        <div class="profile-avatar">
            <{if $avatar!="" && $avatar!="blank.gif" }>
                <img src="<{$avatar}>" border="0" />
            <{ else }>
                <img src="images/noavatar.gif" border="0" />
            <{ /if }>
        </div>
        <div class="profile-commit">
            <div align="left">
                <div style="padding:10px;">
                    <br /><{ $user_rankimage }>
                    <br /><{ $user_ranktitle }>
                </div>
                <{if $isOwner}>
                    <br /><img class="social-nav-bar-icon" src="images/edit.gif" />
                    <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/edituser.php"><{$smarty.const._US_EDITPROFILE}>
                    </a>
                    <br /><img class="social-nav-bar-icon" src="images/password.gif" />
                    <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/changepass.php"><{$smarty.const._PROFILE_MA_CHANGEPASSWORD}>
                    </a>
                    <{if $user_changeemail}>
                        <br /><img class="social-nav-bar-icon" src="images/email.gif" />
                        <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/changemail.php"><{$smarty.const._PROFILE_MA_CHANGEMAIL}>
                        </a>
                    <{/if}>
                    <br /><img class="social-nav-bar-icon" src="images/avatar.gif" />
                    <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/edituser.php?op=avatarform"><{$smarty.const._US_AVATAR}>
                    </a>
                <{/if}>
            </div>
            <{if $isOwner != true && $xoops_isuser == true}>
                <br /><br />
                <div id="profile-nav-bar">
                    <ul class="profile-tabs-nav">
                        <li><a href="javascript:openWithSelfMain('<{$xoops_url}>/pmlite.php?send2=1&amp;to_userid=<{$uid}>', 'pmlite', 650, 500);"> <span><img class="profile-nav-bar-icon" src="images/email.gif" /> <{$sendpm_touser}></span></a> </li><br />
                    </ul>
                    <br /> 
                    <{if $allow_emails == 1}>
                        <ul class="profile-tabs-nav">
                            <li><a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/mailto.php?toid=<{$uid}>"><span><img class="profile-nav-bar-icon" src="images/email.gif" /> <{$sendmail_touser}></span></a> </li>
                        </ul> 
                    <{/if}>
                </div>
            <{/if}> 
            <br />
        </div>
    </div>
    <{if $categories}>	
        <div class="profile-visual odd">
        <{foreach item=category from=$categories}>
            <{if isset($category.fields)}>	    
                <div class="profile-list-category" id="profile-category-<{$category.cat_id}>">
                    <div class="profile-title head"><{$category.cat_title}></div>
                    <{foreach item=field from=$category.fields}>
                        <div class="<{ cycle values="odd,even"}>">
                            <span class="profileinfo-label"><{$field.title}></span>
                            <span class="profileinfo-value"><{$field.value}></span>
                        </div>
                    <{/foreach}>
                </div>
            <{/if}>
        <{/foreach}>
        </div>
    <{/if}>
</div>
<{if $social_isactivte}>  
    <div class="profile-profile-group2">            
        <{ if $visit_user }>
            <div class="profile-visual odd">
                <div class="profile-title head"><{ $myvisit_text }></div>
                <div class="profile-visitor odd">  
                    <{section name=i loop=$visit_user}>
                        <a href="<{$xoops_url}>/modules/profile/userinfo.php?uid=<{$visit_user[i].uid}>" title="<{$visit_user[i].name}>"><{$visit_user[i].name}></a>,&nbsp;
                    <{sectionelse}>
                        <div class="profil-no-entry">
                            <{$smarty.const._PROFILE_MA_NOENTRYEXISTS}>
                        </div>
                    <{/section}>
                </div>
            </div>
        <{ /if }>
        <{ if $myfriends_text }>
            <div class="profile-visual odd">
                <div class="profile-title head"><{ $myfriends_text }></div>
                <{section name=i loop=$myfriends}>
                    <div class="profil-friend-preview">  
                        <p><a href="<{$xoops_url}>/modules/profile/userinfo.php?uid=<{$myfriends[i].uid}>" title="<{$myfriends[i].name}>"><{$myfriends[i].name}><br /><{$myfriends[i].avatar}></a></p>
                    </div>
                <{sectionelse}>
                    <div class="profil-no-entry">
                        <{$smarty.const._PROFILE_MA_NOENTRYEXISTS}>
                    </div>
                <{/section}>
            </div>
        <{ /if }>
        <{ if $myscraps_text }>
            <div class="profile-visual odd">
                <div class="profile-title head"><{ $myscraps_text }></div>
                <div class="profile-scraptext odd">
                    <{foreach item=scrap from=$myscraps}>
                        <{ $scrap.text }><br />
                        <{ $smarty.const._AUTHOR }>: <{ $scrap.name }> <a href="scrapbook.php?uid=<{$uid}>"><{ $smarty.const._MORE }></a>
                        <hr>                        
                    <{foreachelse}>
                        <div class="profil-no-entry">
                            <{$smarty.const._PROFILE_MA_NOENTRYEXISTS}>
                        </div>
                    <{/foreach}>
                </div>
	        </div>
	    <{ /if }>
        <{ if $myvideos_text }>
            <div class="profile-visual odd">
                <div class="profile-title head"><{ $myvideos_text }></div>
                <{section name=i loop=$myvideos}>
                    <div class="profile-video-details-preview <{cycle values="odd,even"}>">  
                        <p><object width="200" height="170">
                        <param name="movie" value="http://www.youtube.com/v/<{$myvideos[i].pic}>"></param>
                        <param name="wmode" value="transparent"></param>
                        <embed src="http://www.youtube.com/v/<{$myvideos[i].pic}>" type="application/x-shockwave-flash" wmode="transparent" width="200" height="170"></embed>
                        </object><br />             
                        <a href="<{$xoops_url}>/modules/profile/videos.php?uid=<{$uid}>" title="<{$myvideos[i].title}>"> <{$myvideos[i].url}></a>
                        </p>
                    </div>              
                <{sectionelse}>
                    <div class="profil-no-entry">
                        <{$smarty.const._PROFILE_MA_NOENTRYEXISTS}>
                    </div>
                <{/section}>
	        </div>
	    <{ /if }>
        <{ if $mypictures_text }>
            <div class="profile-visual odd">
                <div class="profile-title head"><{ $mypictures_text }></div>
                <{section name=i loop=$mypictures}>
                    <div class="profile-album-picture-preview">   
                        <a href="<{$xoops_url}>/modules/profile/pictures.php?uid=<{$uid}>" rel="lightbox" title="<{$mypictures[i].title}>"> <{$mypictures[i].pic}></a>
                    </div>
                <{sectionelse}>
                    <div class="profil-no-entry">
                        <{$smarty.const._PROFILE_MA_NOENTRYEXISTS}>
                    </div>
                <{/section}>
	        </div>
	   <{ /if }>
    </div> 
 <{/if}>
<div style="clear: both;"></div>
<{if $modules}>
    <div class="profile-visual odd">    
        <br style="clear:both;" />
        <div class="profile-search-results">
            <div class="profile-title head"><{$recent_activity}></div>
            <{foreach item=module from=$modules name="search_results"}>
                <div class="profileinfo-value" id="profileinfo-value-<{$smarty.foreach.search_results.iteration}>" >
                    <div class="profile-title head"><{$module.name}></div>
                    <div class="profileinfo-value" id="social-profile-search-module-results-<{$smarty.foreach.search_results.iteration}>">	
                        <{foreach item=result from=$module.results}>
                            <div class="<{ cycle values="odd,even"}>">  
                                <img src="<{$result.image}>" alt="<{$module.name}>" />
                                <b><a href="<{$result.link}>"><{$result.title}></a></b> <small>(<{$result.time}>)</small>
                            </div>
                        <{/foreach}>
                        <{if $module.showall_link}><p><{$module.showall_link}></p><{/if}>
                    </div> 
                </div>
            <{/foreach}>	  
        </div>        
    </div> 
    <div style="clear: both;"></div>
<{ /if }> 
<{includeq file="db:profile_footer.html"}>