<table>
    <th><{$smarty.const._EPROFILE_AM_STEPNAME}></th>
    <th><{$smarty.const._EPROFILE_AM_STEPORDER}></th>
    <th><{$smarty.const._EPROFILE_AM_STEPSAVE}></th>
    <th></th>
    <{foreach item=step from=$steps}>
        <tr class="<{cycle values='odd, even'}>">
            <td><{$step.step_name}></td>
            <td><{$step.step_order}></td>
            <td><{if $step.step_save == 1}><img src="<{$yes_pic}>" alt="<{$smarty.const._YES}>" /><{else}><img src="<{$no_pic}>" alt="<{$smarty.const._NO}>" /><{/if}></td>
            <td>
                <a href="<{$edit_link}><{$step.step_id}>" title="<{$smarty.const._EDIT}>"><{$smarty.const._EDIT}></a>
                &nbsp;<a href="<{$delete_link}><{$step.step_id}>" title="<{$smarty.const._DELETE}>"><{$smarty.const._DELETE}></a>
            </td>
        </tr>
    <{/foreach}>
</table>